<footer class="rounded-lg bg-background shadow  border-t-2">
  <div class="mx-auto w-full max-w-screen-xl p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a routerLink="/" class="mb-4 flex items-center space-x-3 rtl:space-x-reverse sm:mb-0">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Food Squad Logo" />
        <span class="self-center whitespace-nowrap text-2xl font-semibold text-dark dark:text-white">Food Squad</span>
      </a>
      <ul class="mb-6 flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mb-0">
        <li>
          <a routerLink="/" class="mr-4 md:me-6 hover:underline">About</a>
        </li>
        <li>
          <a routerLink="/" class="mr-4 md:me-6 hover:underline">Privacy Policy</a>
        </li>
        <li>
          <a routerLink="/" class="mr-4 md:me-6 hover:underline">Licensing</a>
        </li>
        <li>
          <a routerLink="/" class="hover:underline">Contact</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-gray-500 dark:text-gray-400 sm:text-center"
      >© 2024 <a routerLink="/" class="hover:underline">Food Squad™</a>. All Rights Reserved.</span
    >
  </div>
</footer>
