<!-- Hero Section -->
<section class="relative flex min-h-screen items-center justify-center">
  <div class="container flex-col z-10 mx-auto px-6">
    <div class="w-full md:w-2/3 lg:w-1/2">
      <h1 class="mb-4 text-5xl font-bold leading-tight text-white md:text-6xl">
        The Fastest Food Delivery in
        <span class="text-primary">Bulgaria</span>
      </h1>
      <p class="mb-6 text-lg text-gray-300">
        Enjoy the best dishes from the comfort of your home.Enjoy the best dishes from the comfort of your home.Enjoy
        the best dishes from the comfort of your home.Enjoy the best dishes from the comfort of your home.
      </p>
      <button class="hover:bg-primary-dark rounded bg-primary py-3 px-8 font-bold text-white transition-colors">
        Order Now
      </button>
    </div>
  </div>

  <!-- Background Image with Opacity -->
  <div
  class="absolute inset-0 bg-cover bg-center bg-no-repeat"
  style="background-image: url('./assets/images/menu_top.jpg'); z-index: 0">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <!-- Phone Image
  <div class="  mx-auto ">
    <img src="./assets/images/phone.png" alt="Phone" class="h-96 w-auto mx-auto" />
  </div> -->
</div>

</section>
