<div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3 class="text-md font-bold text-foreground">Food menu items Live Data</h3>
      <span class="text-xs text-muted-foreground">Updated 3 minutes ago</span>
    </div>
    <app-button
      (click)="openCreateModal()"
      impact="light"
      tone="warning"
      shape="rounded"
      size="medium"
      class="text-white">
      <div class="flex items-center justify-center space-x-2">
        <span>Create</span>
        <svg-icon src="assets/icons/heroicons/outline/edit.svg"></svg-icon>
      </div>
    </app-button>
  </div>

  <div class="relative overflow-x-auto">
    <div *ngIf="isLoading" class="mx-auto p-48">
      <app-loader></app-loader>
    </div>
    <table *ngIf="!isLoading" class="w-full table-auto">
      <!--Table head-->
      <thead class="border-b-2 text-xs uppercase text-muted-foreground">
        <tr>
          <th class="py-3 text-left">Title</th>
          <th class="py-3">Price</th>
          <th class="py-3">Sales</th>
          <th class="py-3">Category</th>
          <th class="py-3">Default</th>
          <th class="py-3 text-end">Actions</th>
        </tr>
      </thead>
      <!--end Table head-->
      <!--Table body-->
      <tbody>
        <tr
          *ngFor="let menuItem of menuItems"
          menuItem-auctions-table-item
          [menuItem]="menuItem"
          class="border-b border-dashed border-border hover:bg-card"></tr>
      </tbody>
      <!--end::Table body-->
    </table>
    <p *ngIf="!isLoading && menuItems.length === 0" class="mx-auto p-12 text-center text-foreground">
      No items available
    </p>
  </div>
</div>
