<!-- Main modal -->
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 p-4" (click)="closeModal()">
  <div class="relative max-h-full w-full max-w-md p-4">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow dark:bg-gray-700" (click)="$event.stopPropagation()">
      <!-- Modal header -->
      <div class="flex items-center justify-between rounded-t border-b p-4 dark:border-gray-600 md:p-5">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Update Order</h3>
        <button
          type="button"
          (click)="closeModal()"
          class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="crud-modal">
          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="orderForm" (ngSubmit)="updateOrder()">
        <div class="mb-4 grid grid-cols-2 gap-4">
          <!-- User Email Dropdown -->
          <div class="col-span-2">
            <label for="user" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >User Email<span class="text-red-500">*</span></label
            >
            <div
              *ngIf="orderForm.get('user')?.errors?.['required'] && orderForm.get('user')?.touched"
              class="text-red-500">
              Email is required
            </div>
            <select formControlName="user" id="user" class="block w-full rounded-lg border p-2.5">
              <option *ngFor="let user of users$ | async" [ngValue]="user.$id">{{ user.email }}</option>
            </select>
          </div>

          <!-- Status Dropdown -->
          <div class="col-span-2 sm:col-span-1">
            <label for="status" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Status<span class="text-red-500">*</span></label
            >
            <select formControlName="status" id="status" class="block w-full rounded-lg border p-2.5">
              <option value="pending">Pending</option>
              <option value="completed">Completed</option>
              <option value="cancelled">Cancelled</option>
            </select>
          </div>

          <!-- Created On Input -->
          <div class="col-span-2 sm:col-span-1">
            <label for="createdOn" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Created on<span class="text-red-500">*</span></label
            >
            <div *ngIf="orderForm.get('createdOn')?.errors?.['required']" class="text-red-500">
              Date is required.
            </div>
            <input
              formControlName="createdOn"
              type="text"
              id="createdOn"
              class="block w-full rounded-lg border p-2.5"
              placeholder="YYYY-MM-DD" />
          </div>

          <!-- Total Cost Input -->
          <div class="col-span-2">
            <label for="totalCost" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Total cost</label
            >
            <div
              *ngIf="orderForm.get('totalCost')?.errors?.['required'] && orderForm.get('totalCost')?.touched"
              class="text-red-500">
              Total cost is required
            </div>
            <input
              formControlName="totalCost"
              type="tel"
              id="totalCost"
              class="block w-full rounded-lg border p-2.5"
              placeholder="Type order total cost" />
          </div>

          <!-- Submit Button -->
          <div class="col-span-2">
            <button
              type="submit"
              class="inline-flex items-center rounded-lg bg-primary px-5 py-2.5 text-sm font-medium text-white">
              Update Order
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
