<!-- Outer container with relative positioning -->
<div class="relative flex min-h-screen items-center justify-center bg-background bg-gradient-to-br px-2">

  <!-- Main content container placed on top of the background overlay -->
  <div class="z-10 mx-auto w-full max-w-md overflow-hidden rounded-3xl bg-white shadow-xl">
    <div class="mx-auto max-w-md">
      <!-- Image section -->
      <div class="h-[236px] bg-no-repeat bg-cover bg-center" style="background-image: url('/assets/images/screen.png');"></div>

      <!-- Text and buttons section -->
      <div class="p-4 sm:p-6">
        <p class="mb-1 text-[22px] font-bold leading-7 text-gray-700">Spaghetti with shrimp sauce</p>
        <div class="flex flex-row">
          <p class="mr-2 text-[17px] line-through text-[#3C3C4399]">MVR 700</p>
          <p class="text-[17px] font-bold text-[#0FB478]">MVR 700</p>
        </div>
        <p class="mt-6 font-[15px] text-[#7C7C80]">
          Our shrimp sauce is made with mozzarella, a creamy taste of shrimp with an extra kick of spices.
        </p>

        <a target="_blank" href="foodiesapp://food/1001" class="block mt-10 w-full rounded-[14px] bg-primary px-4 py-3 text-center font-medium text-foreground capitalize tracking-wide transition-colors duration-300 hover:opacity-75 focus:outline-none focus:ring focus:ring-opacity-80">
          Add to cart
        </a>
        <a target="_blank" href="https://apps.apple.com/us/app/id1493631471" class="block mt-1.5 w-full rounded-[14px] px-4 py-3 text-center font-medium capitalize tracking-wide transition-colors duration-300 hover:bg-[#F2ECE7] hover:text-[#000000dd] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80">
          Download app
        </a>
      </div>
    </div>
  </div>
</div>
